@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

header,
h1{
  text-align: center;
  margin: 1%;
}

section{
  margin-left:2%;
}
main{
  display: flex;
  flex-wrap: wrap;
 }

 footer{
   width: 100vw;
   height: 30vh;
   margin: 1%
   
 }

.card{
  margin: 0.5%;
  padding: 1%;
  background-color:whit;
 
}

img{
  width: 250px;
}

input{
  width: 70px;
}
.d-none{
  display: none;
}